
* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
}
body {
	background: #2f3542;
	overflow: hidden;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 100%;
	margin: 100px auto;
}

.icon {
		width: 100px;
		height: 40px;
		position: absolute;
		right: -10px;
		display: flex;
}
.list,
.grid {
		width: 35px;
		height: 35px;
		position: relative;
		cursor: pointer;
		margin: 0 10px 0 0;
}
.list span {
		width: 30px;
		height: 5px;
		background: #fff;
		position: absolute;
		top: 5px;
		left: 3px;
		
}
.list span:nth-child(2) {
		top: 15px;
}
.list span:nth-child(3) {
		top: 25px;
}
.grid span {
	width: 10px;
	height: 10px;
	background: #fff;
	position: absolute;
	left: 5px;
	top: 5px;
}
.grid span:nth-child(2) {
	top: 20px;
}
.grid span:nth-child(3) {
	left: 20px;
}
.grid span:nth-child(4) {
	top: 20px;
	left: 20px;
}
.ltg {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 35px;
}
.ltg div {
	width: 90%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ff4757;
	margin: 10px;
	box-shadow: 5px 10px 2px grey;
}
.ltg.list {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}
.ltg.list div {
	width:	95%;
	height: 100px;
	margin-top: 10px;
}
/* First make sure the video thumbnail images are responsive. */

  img {
    max-width: 100%;
    height: auto;
  }
  
  /* 
  This is the starting grid for each video with thumbnails 4 across for the largest screen size.
  It's important to use percentages or there may be gaps on the right side of the page. 
  */

  .video {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 23%; /* Thumbnails 4 across */
    margin: 1%;
    float: left;
  }

   /* 
   These keep the height of each video thumbnail consistent between YouTube and Vimeo.
   Each can have thumbnail sizes that vary by 1px and are likely break your layout. 
   */

  .video figure {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;

    .video figure a {
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      line-height: 0;
    }
  }

  /* Media Queries - This is the responsive grid. */

  @media (max-width: 1024px) {
    .video {
      width: 31.333%; /* Thumbnails 3 across */
    }
  }

  @media (max-width: 600px) {
    .video {
      width: 48%; /* Thumbnails 2 across */
    }
  }

  @media (max-width: 360px) {
    .video {
      display: block;
      width: 96%; /* Single column view. */
      margin: 2%; /* The smaller the screen, the smaller the percentage actually is. */
      float: none;
    }
  }

  /* These are my preferred rollover styles. */

  .video img {
    width: 100%;
    opacity: 1;
  }

  .video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
  }
